<div class="jumbotron center" >
  <h1>Welcome to RPG editor</h1>
  <h2>Create your own heroes today!</h2>
  <p><%= link_to "Sign up or log in", root_path, class: "btn btn-danger btn-lg" %></p>
</div>
