<h1 align="center">Edit Character</h1>
<hr />
<div class="row">
  <div class="col-md-2 mx-auto">
    <section class="center card card-body bg-light">
        <%= image_tag(@character.image) %>
    </section>
  </div>
  <div class="col-md-8 mx-auto">
    <%= render 'form' %>
  </div>
</div>
