<% if alert || notice %>
  <div class="row pb-1 pt-1">
    <div class="col-md-8 mx-auto" >
      <div class="card bg-warning" >
        <p class="center" ><%= notice %></p>
        <p class="center " ><%= alert %></p>
      </div>
    </div>
  </div>
<% end %>
