<div class="row">
    <% flash.each do |name, msg| %>
    <div class="col-md-8 col-md-offset-1 mx-auto">
      <div class="alert alert-<%= name %>">
        <a href="#" class="close" data-dismiss="alert">×</a>
        <%= msg %>
      </div>
    <% end %>
  </div>
</div>
